* {
    font-family: verdana, arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-weight: normal;
    /* para que los elementos hijos hereden el color de sus padres */
    color: inherit;
    font-size: 20px;
}

*:focus {
    outline: 0;
}


/* ELEMENTOS GENERALES */

body {
    width: 100%;
    margin: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Elementos de Entrada */

input,
select,
textarea {
    border-radius: 3px;
    border: none;
}

textarea {
    resize: vertical;
}

select option {
    background: var(--fondoOption);
}

input[type="button"],
input[type="submit"],
button {
    background: var(--fondoBoton);
    color: var(--colorBoton);
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

/*
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    color: var(--colorBotonHover);
}
*/


/* Tablas */

table {
    text-align: left;
    border-collapse: collapse;
}

table td {
    padding: 8px;
}

table .tHeader td {
    color: #fff;
    background: var(--fondoTituloTabla);
}


/* HEADER */

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 2;
    width: 80%;
    margin: auto;
}

.header {
    background: #2a4044;
}

.header .banner {
    background: #fff;
}

.banner2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.banner img {
    height: 60px;
}


/* HEADER - Menu */

header .mp {
    /* ul contenedor del menu*/
    display: flex;
    flex-direction: row;
}

.mp>li {
    /* elementos principales del menu */
    text-align: left;
}

.mp>li a {
    /* todos los elementos a de los elementos principales del menu */
    padding: 10px 18px;
    transition: linear all 30ms;
    display: block;
}

.mp>li:hover>a {
    background: var(--fondoHeaderAHover);
}

.mp>li>ul {
    /* elementos secundarios del menu */
    display: none;
    position: absolute;
    background: var(--fondoHeaderSubMenus);
    color: var(--colorHeaderSubMenus);
    z-index: 1;
}

.mp li ul li>a:hover {
    background: var(--fondoHeaderSubMenusHover);
    color: var(--colorHeaderSubMenusHover);
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}

.mp>li:hover>ul {
    /* contenedor de elementos secundarios del menu */
    display: block;
}


/* HEADER - InfoUsuario */

.infoUsuario {
    background: var(--fondoInfoUsuario);
    color: var(--colorInfoUsuario);
    display: flex;
}

.infoUsuario>li>ul {
    background: var(--fondoInfoUsuarioSubMenus);
    color: var(--colorInfoUsuarioSubMenus);
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.infoUsuario>li:hover>ul {
    display: block;
}

.infoUsuario>li a {
    padding: 10px 10px;
    transition: linear all 30ms;
    display: block;
}

.infoUsuario>li:hover>a {
    background: var(--fondoInfoUsuarioHover);
    color: var(--colorInfoUsuarioHover);
}

.infoUsuario>li>ul>li:hover a {
    background: var(--fondoInfoUsuarioSubMenusHover);
    color: var(--colorInfoUsuarioSubMenusHover);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}


/* BODY */

.body {
    width: 80%;
    margin: auto;
}


/* NGVIEW */

.masterContainer {
    overflow: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 81vh;
}


/* FOOTER */

.footer {
    background: #2a4044;
}

footer {
    padding: 10px 10px;
    color: var(--colorFooter);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 80%;
    margin: auto;
}

footer .nombreNegocio {
    flex-shrink: 0;
}

footer .fechaHora {
    flex-shrink: 0;
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 1);
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #606060;
}





/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);}

.lite-x-cyan{background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);}
.lite-x-gray{background-image:url(http://csscheckbox.com/checkboxes/lite-x-gray.png);}
.lite-x-blue{background-image:url(http://csscheckbox.com/checkboxes/lite-x-blue.png);}
.lite-x-orange{background-image:url(http://csscheckbox.com/checkboxes/lite-x-orange.png);}
.lite-x-red{background-image:url(http://csscheckbox.com/checkboxes/lite-x-red.png);}
.lite-x-green{background-image:url(http://csscheckbox.com/checkboxes/lite-x-green.png);}

.mac-style{background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);}
.mario-style{background-image:url(http://csscheckbox.com/checkboxes/mario-style.png);}
.alert-style{background-image:url(http://csscheckbox.com/checkboxes/alert-style.png);}
.lite-plus{background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png);}
.dark-plus{background-image:url(http://csscheckbox.com/checkboxes/dark-plus.png);}
.dark-plus-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);}
.dark-plus-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);}
.dark-check-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png);}
.dark-check-green{background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);}
.dark-check-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);}


.depressed-lite-small{background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);}
.elegant{background-image:url(http://csscheckbox.com/checkboxes/elegant.png);}
.depressed{background-image:url(http://csscheckbox.com/checkboxes/depressed.png);}
.chrome-style{background-image:url(http://csscheckbox.com/checkboxes/chrome-style.png);}
.web-two-style{background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);}
.vlad{background-image:url(http://csscheckbox.com/checkboxes/vlad.png);}
.klaus{background-image:url(http://csscheckbox.com/checkboxes/klaus.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}