<div class="aCentro">
    <div class=" f30 marginArribaSuper marginAbajo aCentro cAzulOscuro">Archivos Personales</div>
    <div class=" f16 marginArriba marginAbajoSuper aIzq cAzulOscuro">Ruta Actual: {{rutaActual}}</div>
    <div class=" f16 marginArriba marginAbajoSuper aIzq cAzulOscuro">Tamaño del Directorio: {{tamanhoDirectorioActual}}</div>
    <div class="flexFila">
        <div class="contenedorCrear pointer marginDer" ng-click="varAgregarArchivo()">
            <div class="title fullPadding"></div>
            <div class="fullPadding f20"><i class="fa fa-plus" aria-hidden="true"></i> Crear Archivo</div>
        </div>
        <div class="contenedorCrear pointer marginIzq" ng-click="varAgregarCarpeta()">
            <div class="title fullPadding"></div>
            <div class="fullPadding f20"><i class="fa fa-plus" aria-hidden="true"></i> Crear Directorio</div>
        </div>
    </div>
    <div class="contenedorGeneral" ng-repeat="archivo in arrayArchivos">
        <div class="title fullPadding f18">{{archivo.Nombre}}</div>
        <div class="contenido ">
            <div class="inline aFlexCentro fullPadding"><i class="fa fa-file-text-o f50" aria-hidden="true" ng-show="archivo.tipo == 'ARCHIVO'"></i><i class="fa fa-folder-o f50" aria-hidden="true" ng-show="archivo.tipo == 'CARPETA'"></i> </div>
            <div class="inline fullPadding aIzq">
                <div class="f16">Fecha de creación: {{archivo.fecha_creado}}</div>
                <div class="f16">Fecha de modificación: {{archivo.fecha_modificado}}</div>
                <div class="f16">Tamaño: {{archivo.tamanho}}</div>
                <div class="f16">Extensión: {{archivo.ruta}}</div>
                <!--Botones en caso de ser archivo-->
                <div class="botones" ng-show="archivo.tipo == 'ARCHIVO'">
                    <boton><i class="fa fa-eye" aria-hidden="true" title="Contenido" ng-click="verContenido(archivo)"></i></boton>
                    <boton><i class="fa fa-files-o" aria-hidden="true" title="Copiar" ng-click="copiar(archivo)"></i></boton>
                    <boton><i class="fa fa-share" aria-hidden="true" title="Compartir" ng-click="compartirArchivo(archivo)"></i></boton>
                    <boton><i class="fa fa-pencil" aria-hidden="true" title="Editar" ng-click="editarContenido(archivo)"></i></boton>
                    <boton><i class="fa fa-trash" aria-hidden="true" title="Eliminar" ng-click="eliminarArchivo(archivo)"></i></boton>
                </div>
                <!--Botones en caso de ser carpeta-->
                <div class="botones" ng-show="archivo.tipo == 'CARPETA'">
                    <boton><i class="fa fa-eye" aria-hidden="true" title="Abrir" ng-click="verCarpeta(archivo)"></i></boton>
                    <boton><i class="fa fa-files-o" aria-hidden="true" title="Copiar" ng-click="copiar(archivo)"></i></boton>
                    <boton><i class="fa fa-trash" aria-hidden="true" title="Eliminar" ng-click="eliminarCarpeta(archivo)"></i></boton>
                </div>
            </div>
        </div>
    </div>
    <!--Contenedor para mensaje si la carpeta está vacía-->
    <div ng-show="!arrayArchivos.length" class=" f16 marginArriba marginAbajoSuper aCentro cAzulOscuro"><i class="fa fa-frown-o" aria-hidden="true"></i> El directorio actual no cuenta con ningún archivo/carpeta <i class="fa fa-exclamation" aria-hidden="true"></i></div>
    
    <!--Contenedor para Agregar un nuevo archivo-->
    <div class="contenedorFlotante" ng-show="controlAgregarArchivo">
        <div>
            <div class="fondo" ng-click="varAgregarArchivo()"></div>
            <div class="title">Creación del Archivo<span ng-click="varAgregarArchivo()">X</span></div>
            <div class="cuerpo fullPadding aIzq">
                <form ng-submit="crearArchivo(Archivo)">
                    <input class="fullWidth fullPadding f16 sombra " placeholder="Nombre" ng-model="Archivo.nombre">
                    <textarea class="fullWidth fullPadding f16 sombra marginArriba" placeholder="Contenido del archivo" rows="5" ng-model="Archivo.contenido"></textarea>
                    <input class="width50p fullPadding f16 sombra marginArriba" placeholder="Extensión (Ejemplo:.txt)" ng-model="Archivo.extension">
                    <div class="flexFila marginArriba">
                        <input type="checkbox" id="chkReemplazar" ng-model="Archivo.chkReemplazar" name="chkReemplazar" class="css-checkbox" checked/>
                        <label for="chkReemplazar" name="chkReemplazar_lbl" class="css-label dark-check-cyan f16">De existir el archivo, ¿Desea Reemplazarlo?</label>
                    </div>

                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Crear Archivo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Contenedor para Agregar una nueva carpeta-->
    <div class="contenedorFlotante" ng-show="controlAgregarCarpeta">
        <div>
            <div class="fondo" ng-click="varAgregarCarpeta()"></div>
            <div class="title">Creación de la Carpeta<span ng-click="varAgregarCarpeta()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="crearCarpeta(Carpeta)">
                    <input class="fullWidth fullPadding f16 sombra" placeholder="Nombre" ng-model="Carpeta.nombre">
                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Crear Carpeta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Contenedor para Ver un archivo-->
    <div class="contenedorFlotante" ng-show="controlVerArchivo">
        <div class="width50p">
            <div class="fondo" ng-click="varVerArchivo()"></div>
            <div class="title">{{Archivo.Nombre}}<span ng-click="varVerArchivo()">X</span></div>
            <div class="cuerpo fullPadding">
                <textarea readonly class="fullWidth fullPadding f16 sombra" placeholder="Archivo vacío" rows="10" ng-model="Archivo.contenido"></textarea>
            </div>
        </div>
    </div>
    <!--Contenedor para Editar un archivo-->
    <div class="contenedorFlotante" ng-show="controlEditarArchivo">
        <div class="width50p">
            <div class="fondo" ng-click="varEditarArchivo()"></div>
            <div class="title">Edición del Archivo<span ng-click="varEditarArchivo()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="actualizarArchivo(Archivo)">
                    <input class="fullWidth fullPadding f16 sombra " placeholder="Nombre" ng-model="Archivo.Nombre" readonly>
                    <textarea class="fullWidth fullPadding f16 sombra marginArriba" placeholder="Contenido del archivo" rows="5" ng-model="Archivo.contenido"></textarea>
                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Contenedor para Copiar un Archivo/Carpeta-->
    <div class="contenedorFlotante" ng-show="controlCopiar">
        <div class="width50p">
            <div class="fondo" ng-click="varCopiar()"></div>
            <div class="title">Función de Copiado<span ng-click="varCopiar()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="copiarVV(Archivo, abc.currentNode.ruta)">
                    <div class="flexColumna aFlexCentro aIzq">
                        <span class="fullWidth fullPadding f16 sombra marginArriba"><a class="cCeleste" ng-show="Archivo.tipo=='ARCHIVO'">Copiando el archivo:</a> <a class="cCeleste" ng-show="Archivo.tipo=='CARPETA'">Copiando la carpeta:</a> {{Archivo.Nombre}}</span>
                        <span class="fullWidth fullPadding f16 sombra marginArriba"><a class="cCeleste">Localización:</a> {{abc.currentNode.ruta}}</span>
                    </div>
                    <div class="aCentro marginArriba fullPadding">
                        <span>Seleccione la ruta donde desea copiar el archivo/carpeta..</span>
                    </div>
                    <!--Tree node-->
                    <div class="initial marginArriba" data-angular-treeview="true" data-tree-id="abc" data-tree-model="treedata" data-node-id="Nombre" data-node-label="Nombre" data-node-children="hijos">
                    </div>
                    <!--Fin del Tree node-->

                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Copiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--Contenedor para Mover un Archivo/Carpeta-->
    <div class="contenedorFlotante" ng-show="controlCopiar">
        <div class="width50p">
            <div class="fondo" ng-click="varCopiar()"></div>
            <div class="title">Mover archivo/carpeta<span ng-click="varCopiar()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="moverElemento(Archivo, abc.currentNode.ruta)">
                    <div class="flexColumna aFlexCentro aIzq">
                        <span class="fullWidth fullPadding f16 sombra marginArriba"><a class="cCeleste" ng-show="Archivo.tipo=='ARCHIVO'">Moviendo el archivo:</a> <a class="cCeleste" ng-show="Archivo.tipo=='CARPETA'">Moviendo la carpeta:</a> {{Archivo.Nombre}}</span>
                        <span class="fullWidth fullPadding f16 sombra marginArriba"><a class="cCeleste">Localización:</a> {{abc.currentNode.ruta}}</span>
                    </div>
                    <div class="aCentro marginArriba fullPadding">
                        <span>Seleccione la ruta donde desea mover el archivo/carpeta..</span>
                    </div>
                    <!--Tree node-->
                    <div class="initial marginArriba" data-angular-treeview="true" data-tree-id="abc" data-tree-model="treedata" data-node-id="Nombre" data-node-label="Nombre" data-node-children="hijos">
                    </div>
                    <!--Fin del Tree node-->

                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Mover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
