* {
    font-family: verdana, arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-weight: normal;
    /* para que los elementos hijos hereden el color de sus padres */
    color: inherit;
    font-size: 20px;
}

*:focus {
    outline: 0;
}


/* ELEMENTOS GENERALES */

body {
    width: 100%;
    margin: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Elementos de Entrada */

input,
select,
textarea {
    border-radius: 3px;
    border: none;
}

textarea {
    resize: vertical;
}

select option {
    background: var(--fondoOption);
}

input[type="button"],
input[type="submit"],
button {
    background: var(--fondoBoton);
    color: var(--colorBoton);
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

/*
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    color: var(--colorBotonHover);
}
*/


/* Tablas */

table {
    text-align: left;
    border-collapse: collapse;
}

table td {
    padding: 8px;
}

table .tHeader td {
    color: #fff;
    background: var(--fondoTituloTabla);
}


/* HEADER */

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 2;
    width: 80%;
    margin: auto;
}

.header {
    background: #2a4044;
}

.header .banner {
    background: #fff;
}

.banner2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.banner img {
    height: 60px;
}


/* HEADER - Menu */

header .mp {
    /* ul contenedor del menu*/
    display: flex;
    flex-direction: row;
}

.mp>li {
    /* elementos principales del menu */
    text-align: left;
}

.mp>li a {
    /* todos los elementos a de los elementos principales del menu */
    padding: 10px 18px;
    transition: linear all 30ms;
    display: block;
}

.mp>li:hover>a {
    background: var(--fondoHeaderAHover);
}

.mp>li>ul {
    /* elementos secundarios del menu */
    display: none;
    position: absolute;
    background: var(--fondoHeaderSubMenus);
    color: var(--colorHeaderSubMenus);
    z-index: 1;
}

.mp li ul li>a:hover {
    background: var(--fondoHeaderSubMenusHover);
    color: var(--colorHeaderSubMenusHover);
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}

.mp>li:hover>ul {
    /* contenedor de elementos secundarios del menu */
    display: block;
}


/* HEADER - InfoUsuario */

.infoUsuario {
    background: var(--fondoInfoUsuario);
    color: var(--colorInfoUsuario);
    display: flex;
}

.infoUsuario>li>ul {
    background: var(--fondoInfoUsuarioSubMenus);
    color: var(--colorInfoUsuarioSubMenus);
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.infoUsuario>li:hover>ul {
    display: block;
}

.infoUsuario>li a {
    padding: 10px 10px;
    transition: linear all 30ms;
    display: block;
}

.infoUsuario>li:hover>a {
    background: var(--fondoInfoUsuarioHover);
    color: var(--colorInfoUsuarioHover);
}

.infoUsuario>li>ul>li:hover a {
    background: var(--fondoInfoUsuarioSubMenusHover);
    color: var(--colorInfoUsuarioSubMenusHover);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}


/* BODY */

.body {
    width: 80%;
    margin: auto;
}


/* NGVIEW */

.masterContainer {
    overflow: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 81vh;
}


/* FOOTER */

.footer {
    background: #2a4044;
}

footer {
    padding: 10px 10px;
    color: var(--colorFooter);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 80%;
    margin: auto;
}

footer .nombreNegocio {
    flex-shrink: 0;
}

footer .fechaHora {
    flex-shrink: 0;
}


/* SCROLL BAR */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 1);
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #606060;
}
