<div class="aCentro">
    <div class=" f30 marginArribaSuper marginAbajoSuper aCentro cAzulOscuro">Administrar Procesos Electorales</div>

    <div class="contenedorCrear pointer" ng-click="varAgregarEleccion()">
        <div class="title fullPadding"></div>
        <div class="fullPadding f20"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Proceso de Elección</div>
    </div>

    <div class="contenedorGeneral" ng-repeat="eleccion in arrayElecciones">
        <div class="title fullPadding f18">{{eleccion.Titulo}}</div>
        <div class="contenido ">
            <div class="inline aFlexCentro fullPadding"><i class="fa fa-comments-o f50" aria-hidden="true"></i> </div>
            <div class="inline fullPadding aIzq">
                <div class="f16">Creador: {{eleccion.Creador}}</div>
                <div class="f16">Fecha de Inicio: {{eleccion.FechaFin}}</div>
                <div class="f16">Fecha de Finalización: {{eleccion.FechaFin}}</div>
                <div class="f16" ng-hide="eleccion.Activo =='1'">Estado: Desactivado</div>
                <div class="f16" ng-show="eleccion.Activo =='1'">Estado: Activado</div>
                <div class="botones">
                    <boton title="Cerrar Eleccion" ng-click="cerrarEleccion(eleccion.ProcesoEleccionID)"><i class="fa fa-toggle-on" aria-hidden="true" ng-show="eleccion.Activo =='1'"></i><i class="fa fa-toggle-off" aria-hidden="true" ng-hide="eleccion.Activo =='1'"></i></boton>
                    <boton title="Eliminar Proceso Elección" ng-click="eliminarEleccion(eleccion.ProcesoEleccionID)"><i class="fa fa-trash" aria-hidden="true"></i></boton>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedorFlotante" ng-show="controlAgregarEleccion">
        <div>
            <div class="fondo" ng-click="varAgregarEleccion()"></div>
            <div class="title">Creación del Proceso<span ng-click="varAgregarEleccion()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="crearEleccion(Eleccion)">
                    <textarea class="fullWidth fullPadding f16 sombra aIzq marginArriba marginAbajo" ng-model="Eleccion.Titulo" placeholder="Nombre de la Elección" rows="2" required></textarea>
                    <div class="aIzq">
                        <span class="cGrisOscuro aIzq">Fecha Inicio:</span>
                        <input class="fullPadding cGrisOscuro sombra marginArriba marginAbajo block" type="datetime-local" required ng-model="Eleccion.DateInic">
                        <span class="cGrisOscuro aIzq">Fecha Fin:</span>
                        <input class="fullPadding cGrisOscuro sombra block marginArriba marginAbajo" type="datetime-local" required ng-model="Eleccion.DateFin">
                    </div>

                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Crear Elección</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
