<div class="aCentro">
    <div class=" f30 marginArribaSuper marginAbajoSuper aCentro cAzulOscuro">Foros Personales</div>

    <div class="contenedorCrear pointer" ng-click="varAgregarForo()">
        <div class="title fullPadding"></div>
        <div class="fullPadding f20"><i class="fa fa-plus" aria-hidden="true"></i> Crear Nuevo Foro</div>
    </div>

    <div class="contenedorGeneral" ng-repeat="foro in arrayForos">
        <div class="title fullPadding f18"><i class="fa fa-lock" aria-hidden="true" ng-show="foro.Privado == '1'"></i><i class="fa fa-globe" aria-hidden="true" ng-show="foro.Privado == '0'"></i> {{foro.Titulo}}</div>
        <div class="contenido ">
            <div class="inline aFlexCentro fullPadding"><i class="fa fa-comments-o f50" aria-hidden="true"></i> </div>
            <div class="inline fullPadding aIzq">
                <div class="f16">Propietario: {{foro.Creador}}</div>
                <div class="f16">Fecha de Publicación: {{foro.FechaPublicacion}}</div>
                <div class="f16 truncate">Contenido: {{foro.Contenido}}</div>
                <div class="botones">
                   <boton title="Ver y editar preguntas" ng-click="editarPreguntasForo(foro)"><i class="fa fa-bar-chart" aria-hidden="true"></i></boton>
                    <boton title="Ver foro en detalle" ng-click="verDetalles(foro.ForoID)"><i class="fa fa-eye" aria-hidden="true"></i></boton>
                    <boton title="Ver y editar Archivos" ng-click="agregarArchivo(foro)"><i class="fa fa-paperclip" aria-hidden="true"></i></boton>
                    <boton title="Editar Foro" ng-click="varEditarForo(foro)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></boton>
                    <boton title="Ver y editar miembros" ng-click="editarMiembrosForo(foro)" ng-show="foro.Privado == '1'"><i class="fa fa-address-book-o" aria-hidden="true"></i></boton>
                    <boton title="Eliminar foro" ng-click="eliminarForo(foro.ForoID)"><i class="fa fa-trash" aria-hidden="true"></i></boton>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedorFlotante" ng-show="controlCrearForo">
        <div>
            <div class="fondo" ng-click="varAgregarForo()"></div>
            <div class="title">Creación del foro<span ng-click="varAgregarForo()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="crearForo(Foro)">
                    <textarea class="fullWidth fullPadding f16 sombra" ng-model="Foro.Titulo" placeholder="Nombre del Foro" rows="2"></textarea>
                    <textarea class="fullWidth fullPadding f16 sombra" ng-model="Foro.Contenido" placeholder="Contenido del foro (Descripción)" rows="5"></textarea>
                    <div class="aIzq fullWidth">
                        <input class="pointer" type="checkbox" ng-model="Foro.Privado" id="chkPrivado">
                        <label class="pointer" for="chkPrivado">Privado</label>
                    </div>
                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Crear Foro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="contenedorFlotante" ng-show="controlEditarForo">
        <div>
            <div class="fondo" ng-click="varEditarForo()"></div>
            <div class="title">Actualización del foro<span ng-click="varEditarForo()">X</span></div>
            <div class="cuerpo fullPadding">
                <form ng-submit="editarForo(Foro)">
                    <textarea class="fullWidth fullPadding f16 sombra" rows="2" title="Nombre del Foro" ng-model="Foro.Titulo"></textarea>
                    <textarea class="fullWidth fullPadding f16 sombra" rows="5" title="Contenido del foro" ng-model="Foro.Contenido"></textarea>
                    <div class="aIzq fullWidth">
                        <input class="pointer" type="checkbox" ng-model="Foro.Privado" id="chkPrivado">
                        <label class="pointer" for="chkPrivado">Privado</label>
                    </div>
                    <div class="aDer">
                        <button class="fullPadding f20 marginArriba" type="submit">Actualizar Foro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
