<div class="contenedor aFlexCentro">
    <div>
        <div class="title">Registrarse en el sistema</div>
        <div class="fullPaddingSuper aCentro">
            <form ng-submit="AgregarCuenta(objAgregar)">
                <input class="fullPadding fullWidth f18 marginAbajo block sombra" placeholder="Nombre de Usuario" ng-model="objAgregar.Usuario" required>
                <input class="fullPadding fullWidth f18 marginAbajo block sombra" placeholder="Contraseña" ng-model="objAgregar.Contrasenha" required>
                <input class="fullPadding fullWidth f18 marginAbajo block sombra" placeholder="Bytes" ng-model="objAgregar.Bytes" type="number" min="0" required>    
                <button class="fullPadding f20 marginArriba" type="submit">Registrarse</button>
                <div class="marginArriba"> <span class="f16">¿Ya tienes cuenta?</span><br>
                    <button type="button" class="fullPadding f16 inline cCeleste bgfff marginArriba" ng-click="irA('login')"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
