<div class="aCentro">
    <div class=" f30 marginArribaSuper marginAbajoSuper aCentro cAzulOscuro">Lista de Eventos</div>
    <div class="contenedorGeneral" ng-repeat="evento in arrayEventos">
        <div class="title fullPadding f18">{{evento.Titulo}}</div>
        <div class="contenido ">
            <div class="inline aFlexCentro fullPadding"><i class="fa fa-users f50" aria-hidden="true"></i> </div>
            <div class="inline fullPadding aIzq">
                <div class="f16">Creador: {{evento.Creador}}</div>
                <div class="f16">Fecha de Publicación: {{evento.FechaPublicacion}}</div>
                <div class="f16 truncate">Contenido: {{evento.Contenido}}</div>
                <div class="botones">
                    <boton><i class="fa fa-eye" ng-click="verDetalles(evento.ForoID)" aria-hidden="true"></i></boton>
                </div>
            </div>
        </div>
    </div>
</div>
